* {
    margin: 0;
    padding: 0;
}

html {
   font-size: 16 px;
}

h1{
    margin-top: 2rem;
    margin-left:2rem;
    font-size: 3rem;
    color:black;
    
}
.search-container{

   margin: 7rem;
}




body {
    background:lightyellow;
    color: black;
}

.response-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.drink-item { 
    padding: .5rem;
    width: 40%;
    margin: 3%;
    border: 4px solid black;
    display: flex;
    flex-direction: column;
}

.name {
    color:blue;
    align-self: center;
    font-size: 40px;
    margin-bottom: 1rem;
     
   
}

.search-container{
    gap: 1rem;
    margin:1rem;
    margin-left: 4rem;


}

.search {
    font-size: 1.5em;
    padding: .6em .3em;
    border:none;
    outline:none;
    color:black;
    background-color:lightyellow ;
    border-bottom:2px solid black ;

}

.search-button{
    font-size: 1.3rem;
    gap:1rem;
    padding: .3rem;
    background-color:lightcyan;
    border-radius: .5rem;
}
.container{
    border-radius: 5%;
    margin: .5;
    padding: 1rem;
    margin-top: .5rem;
    background-color:none;
    font-size: 1.5rem;
}

.inst {
    padding:.5rem;
    background-color: aqua;
    margin:1rem;
    text-decoration: none;
    align-self: baseline;
    border-radius: 10%;
    font-size: 1.5rem;
    color: black;
}
.link-button{
    padding:.5rem;
    background-color:whitesmoke;
    margin:1rem;
    text-decoration: none;
    align-self: baseline;
    border-radius: 10%;
    font-size: 1.5rem;
    color: black;
  
}
.ingredient-item {
    color:black;
    margin-left: 2rem;
}

